{% extends 'catalog/base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-1 pb-md-2 mx-auto text-center">
    <h1 class="display-4">Сброс/Восстановление пароля</h1>
</div>
<main>
    <div class="album py-5 bg-body-tertiary">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <div class="card shadow-md">
                            <div class="card-body">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="card-footer text-center">
                                    <button type="submit" class="btn btn-success btn-sm">
                                        Подтвердить
                                    </button>
                                    <a class="btn btn-primary btn-sm" href="{% url 'users:login' %}">
                                        Отменить
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</main>

{% endblock %}