{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
<div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.name }} ({{ object.slug }})</h4>
            </div>
            <div class="card-body">
                {{ object.content }}<br>
                <input type="button" class="btn btn-lg btn-block btn-outline-primary" onclick="history.back();" value="Вернуться"/>
            </div>
            <div class="card-footer">
                Просмотры: {{ object.views_count }}
            </div>
        </div>
    </div>
{% endblock %}