{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
<div class="row text-center">
    {% for object in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
            </div>
            <div class="card-body">
                {{ object.description|truncatechars:30 }}<br>
                <a href="{% url 'catalog:category_products' object.pk %}" type="button" class="btn btn-lg btn-block btn-outline-primary">Товары</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}