{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
<div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ object.price_per_purchase }} руб.</h1>
                <img class="card-img-top" src="{{ object.img|my_media }}">
                Описание: {{ object.description }}<br>
                Автор: {{ object.owner }}<br>
                <input type="button" class="btn btn-lg btn-block btn-outline-primary" onclick="history.back();" value="Вернуться"/>
            </div>
        </div>
    </div>
{% endblock %}